<div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="miembros/juan.jpg" class="d-block w-100 carousel-img" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="miembros/Vianel.jpeg" class="d-block w-100 carousel-img" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="miembros/lautaro.jpg" class="d-block w-100 carousel-img" alt="Slide 3">
    </div>
  </div>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


<div class="auth-wrapper my-5">
  <div class="auth-panel" [class.active]="showLogin">
    <div class="info-section">
      <h1>¡Hola otra vezzzz!</h1>
      <p>¿No tienes una cuenta aún?</p>
      <button (click)="goToRegister()">Crear Cuenta</button>
    </div>
    <div class="form-section">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
        <input formControlName="username" type="text" placeholder="Usuario" required />
            @if (Username?.errors && Username?.touched) {
             @if (Username?.hasError('required'))
            {
                <p class="text-danger">
                    El usuario es requerido.
                </p>
            }
             @else if (Username?.hasError('email'))
            {
                <p class="text-danger">
                    El formato del email debe ser válido.
                  </p>
            }
        }
        <input formControlName="password" type="password" placeholder="Contraseña" required />
         @if (Password?.errors && Password?.touched) {
            @if (Password?.hasError('required'))
            {
                <p class="text-danger">
                    La contraseña es requerido.
                </p>
            }
        }
           
        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>
</div>