@media (max-width: 768px){
  .auth-wrapper{
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .auth-panel {
    flex-direction: column;
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    height: auto;
  }

  .info-section,
  .form-section {
    width: 100%;
    padding: 2rem 1rem;
  }

  .info-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .form-section form {
    max-width: 100%;
  }
}

.custom-header {
  background-color: #2651D3;
}

.custom-btn {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.custom-btn:hover {
  background-color: #fff;
  color: #2651D3;
  border-color: #fff;
}


.auth-wrapper {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 10px;
  margin: auto;
}

.auth-panel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.auth-panel.active {
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

.info-section {
  width: 50%;
  background: linear-gradient(135deg, #2651D3, #3d6ef2);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section button {
  padding: 0.8rem 1.5rem;
  background: white;
  color: #2651D3;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.form-section {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-section form input {
  width: 100%;
  margin-bottom: 0.6rem;
  padding: 0.7rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 0.7rem;
  box-sizing: border-box;

}


.form-section form button {
  width: 100%;
  padding: 0.6rem;
  background: #2651D3;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px
}

.form-section form button:hover {
  background-color: #1e3ea5;
  
}



.is-valid{
  border: 2px solid green!important;
}

.is-invalid{
  border: 2px solid red !important;
}

.text-danger{
  font-size: 0.7rem;
  margin: 0 0 4px ;
}
