.nav-link{
    cursor: pointer;
}

.custom-header {
  background-color: #E9E9E9;
}

.custom-hover {
  color: #2651D3;
  border-color: #2651D3


}

.custom-hover:hover {
  background-color: #fff;
  color: #2651D3;
  border-color: #2651D3;
}